/*I LOVE PUGS*/
#app-mount [data-user-id="709377715320651838"].userPopout-xaxa6l {
  background-image: url('https://i.imgur.com/PC58MLf.jpeg');
  width: 900px!important;
  height: 500px!important;
}
#app-mount [data-user-id="709377715320651838"] .bodyInnerWrapper-26fQXj {background: transparent;}
#app-mount [data-user-id="709377715320651838"] .banner-2QYc2d {background: transparent!important;}
