/**
* @name        The Aesthetic
* @author      YABOIWQ
* @description A theme that has been spiced up a lil.
* @version     1.0
* @invites     4WSe2YVr
*/
@import url("https://warrayquipsome.github.io/The-Aesthetic/addons.css");
@import url('https://discord-theme-addons.github.io/modern-channel-indicators/src/support/compiled.css');

     ████████╗██╗░░██╗███████╗  ░█████╗░███████╗░██████╗████████╗██╗░░██╗███████╗████████╗██╗░█████╗░
     ╚══██╔══╝██║░░██║██╔════╝  ██╔══██╗██╔════╝██╔════╝╚══██╔══╝██║░░██║██╔════╝╚══██╔══╝██║██╔══██╗
     ░░░██║░░░███████║█████╗░░  ███████║█████╗░░╚█████╗░░░░██║░░░███████║█████╗░░░░░██║░░░██║██║░░╚═╝
     ░░░██║░░░██╔══██║██╔══╝░░  ██╔══██║██╔══╝░░░╚═══██╗░░░██║░░░██╔══██║██╔══╝░░░░░██║░░░██║██║░░██╗
     ░░░██║░░░██║░░██║███████╗  ██║░░██║███████╗██████╔╝░░░██║░░░██║░░██║███████╗░░░██║░░░██║╚█████╔╝
     ░░░╚═╝░░░╚═╝░░╚═╝╚══════╝  ╚═╝░░╚═╝╚══════╝╚═════╝░░░░╚═╝░░░╚═╝░░╚═╝╚══════╝░░░╚═╝░░░╚═╝░╚════╝░
/**credit**/
/**Fancy channel indicators-by LuckFire#4800**/
/*theme text*/
.wordmark-2iDDfm{
    --text-muted: rgba(255, 255, 255, 0);
}

div[class*="typeWindows-"]::after {
    position: absolute;
    font-family: "Amatic SC";
    content: "‏‏‎‎‏‏‎‎‏The Aesthetic‎‏‏‎‏‏ ‎HALLOWEEN THEME🎃";
    font-size: 20px;
    font-weight: 100;
    top: -1px;
    left: 100px;
    color: white;
    transform: translateY(-8%);
    line-height: 43px;
}
